<!DOCTYPE html>
<html lang="en">
<meta http-equiv="refresh" content="30">

<head>
	<meta charset="UTF-8">
    <title>Super Admin Panel</title>
</head>
    
    <style>

	table {
	  width: 100%;  
	  border-collapse: collapse;	  
    }
	
    th, td {
	  border: 2px solid blue;
      padding: 6px;
      width: 30px;
      height: 30px;
	  text-align: center;	  
	  vertical-align: middle;
	  font-size: 20px;	  
	  background-color: cyan;
    }
	
	/* CSS for responsive design */
    @media screen and (max-width: 600px) {
    /* Adjust the table layout for small screens */
    th, td {
		display: block;
        }
	th {
        text-align: center;
        }
    }
    
    @keyframes blink {
    	0%, 100% {
		  background-color: cyan;
		}
		50% {
		  background-color: red;
		  color: white;
		}
    
    </style>

    <body>
    
        <form method="post">
        {% csrf_token %}

		<p id="usrId"> Login Name: <a href="#" > {{ request.user.username }} <p></a>
		<button type="submit" name="delete_all_data" onclick = "onClickFill('delAllDatacd')">Delete All Data</button>
		<button type="submit" name="download_all_data" onclick = "onClickFill('dwnAllData')">Download All Data</button>
    	<br><br>
		
		<input type="hidden" name="insCode" id="insCode"></input>
		<input type="hidden" name="usrLgn" id="usrLgn"></input>

		<label for="inputBox" style="display: inline-block; font-weight: bold; padding-right: 10px;">Show Top:</label>	
    	<input type="text" name="showTopValues" id="showTopValues" placeholder="Enter here..." onfocusout="showTopValues()"/>
		<!-- <button type="submit" name="download_all_data" onclick = "onClickFill('showTop')">Download All Data</button> -->
    	
    	</form>
    
        <label style="display: inline-block; font-weight: bold; font-size: 30px; padding-right: 10px;">Total:</label>
        <label style="display: inline-block; font-weight: bold; font-size: 30px; color: blue; padding-right: 10px;">{{ sideTotalSpr.allTotal }}</label>
    	
        <table id="adminTable">
            <thead>
        
                <tr>
                        <td><b>1</b></td>
                        <td><b>2</b></td>
                        <td><b>3</b></td>
                        <td><b>4</b></td>
                        <td><b>5</b></td>
                        <td><b>6</b></td>
                        <td><b>7</b></td>
                        <td><b>8</b></td>
                        <td><b>9</b></td>                  
                        <td><b>0</b></td>
                        <td><b>Total</b></td>
                </tr>

				<tr>
                    {% for k,v in cCatItemsHsb.items %}
						{% if forloop.counter == 1 %}                    
                            <td><b>A >>> ({{ v }})</b></td>
						{% else %}
							<td><b>({{ v }})</b></td>
						{% endif %}						
                    {% endfor %} 
					<td><b>({{ cCatTotalHsb }})</b></td>              
                </tr>

				<tr>
                    {% for k,v in catDictTotalHsb.items %}                    
						{% if forloop.counter == 1 %}                 
                            <td><b>P >>> ({{ v }})</b></td>
						{% else %}
							<td><b>({{ v }})</b></td>
						{% endif %}						
                    {% endfor %}                
                </tr>				
                
            </thead>
            <tbody>        
                
                
                {% for row in table_data_spr %}
                    <tr>
                        {% for key, value in row %}
                            <td>{{ key }}= {{ value }}</td>                        
                        {% endfor %}
                     
                    {% if forloop.counter == 1 %}                
                        <td rowspan="12"> {{ sideTotalHsb.oneTwenty }} </td>
                    {% elif forloop.counter == 13 %}
                        <td rowspan="9"> {{ sideTotalHsb.ninety }} </td>
                    {% elif forloop.counter == 22 %}
                        <td rowspan="1"> {{ sideTotalHsb.ten }} </td>
                    {% endif %}
                    
                    </tr>
                                 
                {% endfor %}            
                
            </tbody>        
            
            
        </table>
    
    </body>
    
</html>

<script>

	 function onClickFill (nameShow){

		if (nameShow === 'delAllDatacd') {
			if (confirm('Are you sure?')) {
				//action confirmed
				console.log('Ok is clicked.');
				document.getElementById('insCode').value = nameShow;
				document.getElementById('usrLgn').value = document.querySelector('#usrId a').textContent;

				//action cancelled
				console.log('Cancel is clicked.');
			}
		}

		else if (nameShow === 'dwnBrkFile') {
			document.getElementById('insCode').value = nameShow;
		}

		else if (nameShow === 'dwnAllData') {
			document.getElementById('insCode').value = nameShow;
			document.getElementById('usrLgn').value = document.querySelector('#usrId a').textContent;
		}

		else if (nameShow === 'moveData') {			
			document.getElementById('insCode').value = nameShow;
			//document.getElementById('oneTwoZeroSplit').value = "";
			//document.getElementById('oneTwenty').value = "";
			//document.getElementById('tenSplit').value = "";


		}
		
	  }	   

</script>